<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" />
    <meta name="theme-color" content="#000000" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;800&display=swap"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@900&display=swap" rel="stylesheet" />
    <meta name="description" content="CryptoFlex: Your versatile web tool for encoding, decoding, and cryptography. From Base64, URL, and Hex encoding to AES and RSA encryption, CryptoFlex simplifies secure data handling and cryptographic learning.">
    <meta name="keywords" content="CryptoFlex, encoding, decoding, cryptography, AES encryption, RSA encryption, Base64, URL encoding, Hex encoding, MD5 hashing, SHA hashing, secure data, cryptographic tools">
    <title>Crypto Flex</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
{% block body %}{% endblock %}
</body>
</html>
